/* font-family: 'Josefin Sans', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Nanum Gothic', sans-serif;
font-family: 'Satisfy', cursive;
font-family: 'Tsukimi Rounded', sans-serif; */
*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(../imagenes/viñedo\ 2.jpg)
}
header img{
    height: 120px;
    width: 100px;
    opacity: 0.4;
    background-color: rgba(0, 0, 0, 0.684);
}
.index{
    height: 300px;
}
.barranav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 30px;
    font-family: Montserrat, Tsukimi Rounded, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: darkslategrey;
    background-color: rgba(0, 0, 0, 0.684);
}
.barranav a{
    text-decoration: none;
    color: darkgrey
}
.tituloindex{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    font-size: 90px;
    font-family: 'Satisfy', cursive;
    opacity: 0.9;
}
.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 70px;
    opacity: 0.5;
    position: relative;
    top: 45px;
    background-color: rgba(0, 0, 0, 0.946);
}
.pie{
    position: relative;
    top: 10px;
    padding-bottom: 5px;
    height: 45px;
}

.footer img{
    width: 70px;
    height: 50px;
}
.nosotros{
    font-size: 22px;
    color: black;
    background-color: rgba(255, 253, 253, 0.299);
    border-radius: 5%;
    overflow: scroll;
}
.imagenesnosotros{
    height: 500px;
    border-radius: 5%;
    opacity: 0.8;
}
.bodegas{
    margin-top: 40px;
    width: 90%;
}
.bodegas div ul{
    border-radius: 15px;
}
iframe{
    border-radius: 25px;
}
.listabodegas{
    color:rgb(96, 191, 191);
    background-color: rgba(0, 0, 0, 0.565);
}
.tabla{
    height: 100px;
    font-size: 20px;
    border-collapse: collapse;
    background-color: antiquewhite;
    opacity: 0.8;
    font-family: 'Montserrat', sans-serif;

}
tabla, th, td{
    border: 5px groove rgba(9, 65, 15, 0.8);
    padding: 15px;
}
.tablamaridaje{
background-color: black;
color:darkcyan;
height: 300px;
width: 100%;
font-size: 20px;
}
.maridaje{
    height: 100px;
}
