/* font-family: 'Josefin Sans', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Nanum Gothic', sans-serif;
font-family: 'Satisfy', cursive;
font-family: 'Tsukimi Rounded', sans-serif; */
*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(../imagenes/viñedo\ 2.jpg)
}
header img{
    height: 150px;
    width: 200px;
    opacity: 0.4;
    background-color: rgba(0, 0, 0, 0.809);
}
.index{
    height: 300px;
}
.barranav{
    display: flex;
    align-items: center;
    font-size: 30px;
    font-family: Montserrat, Tsukimi Rounded, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgba(0, 0, 0, 0.766);
    text-decoration: none;
    color: darkgrey
}

.tituloindex{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    font-size: 75px;
    font-family: 'Satisfy', cursive;
    opacity: 0.9;
}
.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 70px;
    position: relative;
    top: 45px;
    background-color: rgba(0, 0, 0, 0.766);;
}
.footer img{
    opacity: 0.3;
}
.pie{
    position: relative;
    top: 10px;
    padding-bottom: 5px;
    height: 45px;
}

.footer img{
    width: 70px;
    height: 50px;
}
.nosotros{
    font-size: 22px;
    color: lightgray;
    background-color: rgba(5, 5, 5, 0.394);
    border-radius: 5%;
    overflow: scroll;
    font-family: 'Montserrat', sans-serif;

}
.imagenesnosotros{
    height: 500px;
    border-radius: 5%;
    opacity: 0.8;
}
.bodegas{
    margin-top: 40px;
    width: 90%;
}
.bodegas div ul{
    border-radius: 15px;
}
iframe{
    border-radius: 25px;
}
.listabodegas{
    color:rgb(96, 191, 191);
    background-color: rgba(0, 0, 0, 0.565);
}
.tablarese{
    height: 200px;
    font-size: 20px;
    border-collapse: collapse;
    background-color: rgba(250, 235, 215, 0.878);
    opacity: 0.8;
    font-family: 'Montserrat', sans-serif;

}
.tablarese, th, td{
    border: 10px groove rgba(9, 65, 15, 0.881);
    padding: 15px;

}
.tablamaridaje{
background-color: rgba(0, 0, 0, 0.54) !important;
color:rgb(68, 131, 131) !important;
height: 100px;
width: 1300px;
font-size: 20px;
}
.maridaje{
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
